
:root {
    font-size: 12px;
    font-family: 'Segoe UI';

  }
  .description-content{
    font-family: 'Segoe UI';
  }
  .description-title{
    font-family: 'Josefin Sans', sans-serif;
  }
  .page-title{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-shadow: 0 2px 6px #00000080;
    margin-left: 9%;
  }

  .notification-content{
    font-family: 'Segoe UI';
  }
  
  #topnav{
      display: flex;
      justify-content:space-between;
      overflow: hidden;
      margin: -10% 0 0 0;
      
    }
  #topnav .left-nav a, #topnav .right-nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.32rem 1.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0;
  }

  .dropdown{
      float: left;
      overflow: hidden;
  }

  .dropdown .dropdown-btn {
    font-size: 1.3rem;
    border: none;
    outline: none;
    color: white;
    padding: 1.4rem 1rem;
    margin: auto;
    background-color: inherit;
    font-family: 'Segoe UI';
    margin: 0.3rem 0 0 -0.3rem;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4D5761;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 1rem 1.3rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  #topnav a:hover, .dropdown:hover .dropdown-btn {
    color: rgba(233, 180, 101, 0.811);
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .left-nav{
      color: white;
      display: flex;
      float:left;
      background-color: #2B2B2B;
      overflow: hidden;
      /* margin: auto; */
      margin-top:0;
      margin-left: 0;
      box-shadow: 0 2px 12px 13px #2b2b2b;
      transition:cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
      
    }

  .right-nav{
    color: white;
    display: flex;
    float:right;
    background-color: #2B2B2B;
    overflow: hidden;
    padding-left: 1rem;
    margin-bottom: auto;
    margin-top:0;
    margin-right: 0;
    box-shadow: 0 2px 12px 13px #2b2b2b;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    }

    #topnav .icon-top{
        width: auto;
        height: auto;
        border: 0px;
        background-color: inherit;
        padding-left: 1.5rem;
        margin:0.5rem 0 0 -0.5rem;
    }

    #topnav .icon-top .ti:hover{
        color: rgba(233, 180, 101, 0.811);
    }

    .icon-top .ti-shopping-cart{
        padding-right: 1.5rem;
    }

    #topnav .left-nav .toplink a::before{
        content: '|';
        font-size: 2rem;
        color: white;
        display: inline-block;
        padding-right: 1rem;
    }

    #topnav .right-nav .toplink a::after{
        content: '|';
        font-size: 2rem;
        color: white;
        display: inline-block;
        padding-left: 1rem;
    }

    .ti .ti-shopping-cart {
        padding-top: 1.7rem
    }

    html {
        background-image: url(image/background2blur.jpg);
        background-repeat: no-repeat;
        background-position: 100% 43%;
        background-size: cover;
        background-attachment: fixed;    

    }

  body {
      margin: 0px;
      padding: 10% 0 0 0;
    }

  .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      
  right: 0;max-width: 7%;min-width: 9rem;flex-direction: column;}

  
  .logo-container img {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
    }
 
    #topnav .logo-container img{
        width: 100%;
        /* height: auto; */
        /* max-height: 8vh; */
        /* max-width: 8vw; */
    }

    .footer {
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: normal 1rem 'Segoe UI';
      padding: 2.8rem 3rem;
      bottom: 0;
      position: fixed;
    display: flex;justify-content: space-between;}
    
    .footer .footer-left p {
      color: #ffffff;
      font-size: 1.1rem;
      margin: 0;
    }
    /* Footer links */
    
    .footer p.footer-links {
      font-size: 1.2rem;
      margin: 0 0 10px;
      padding: 0;
      transition: ease .25s;
    }
    
    .footer p.footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }
    
    .footer .footer-links a:before {
      content: "·";
      font-size: 1.5rem;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
    .footer .footer-links .link-1:before {
      content: none;
    }
    
    .footer .footer-right {
      float: right;
      margin-top: 6px;
      max-width: 180px;
    }
    
    .footer .footer-right a {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      font-size: 1.6rem;
      color: #ffffff;
      text-align: center;
      line-height: 3rem;
      margin-left: 3px;
      transition:all .25s;
    }
    .footer .footer-right a img {
        width: 3rem;
        height: 3rem;
    }
    
    .footer .footer-right a:hover {
        transform:scale(1.1); 
        -webkit-transform:scale(1.1);
    }
    
    .footer p.footer-links a:hover {
        text-decoration:underline;
        color: rgba(233, 180, 101, 0.811);
        font-size: larger;
    }

    /* Media Queries */


    @media (max-width: 600px) {
        :root{
            font-size: 10px;
        }
      .footer .footer-left, .footer .footer-right {
        text-align: center;
      }
      .footer .footer-right {
        float: none;
        margin: 0 auto 20px;
      }
      .footer .footer-left p.footer-links {
        line-height: 1.8;
      }
      #topnav .left-nav .icon-top .ti-chevron-left, #topnav .left-nav .hide, #topnav .left-nav .toplink:first-child, #topnav .right-nav .icon-top, #topnav .right-nav{
          display:none;
      }
      #topnav .left-nav .ti-chevron-left{
          display: none;
      }

      #topnav{
          display: flex;
      }
      #topnav .left-nav {
          margin-left: -1rem;
          padding-right: 0rem;
      margin-bottom: 1rem;}
      .set-with-icon .icon-buttons{
        display: flex;
    margin-left: 1rem;gap: 0.5rem;}
    .set-with-icon{
        display: flex;
        flex-direction: column;
    justify-content: space-around;}
      body > .search-box{
          margin-left: 0;
      }
      #topnav .logo-container img{
          width: 100%;
          /* max-width: none; */
      }
      #topnav .logo-container{
          max-width: 20%;
      float: right;}
    body .footer{
        padding: 0.8rem 3rem;
    }
    .scrollbar .force-overflow2{
        flex-direction: column;
        padding: 0;
        margin-right: 2rem;
    }
    .cart-container .scrollbar{
        height: 55vh;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 2rem;
        background-color: transparent;
    }
    .cart-container{
        background-color: #ffffff52;
        padding-top: 0.3rem;
        margin-top: 1rem;
    }
    .bot-container .left-bot{
        display: none;
    }
    .force-overflow2 .item{
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem;
    }
    .item .item-image{
        width: 50%;
        margin:0;
    }
    #main-container .bot-container{
        justify-content: center;
        margin-top: 0.5rem;
    }
    .bot-container .right-box{
        margin: 0;
        justify-content: center;
    }
    .force-overflow2 .item p{
        padding-bottom: 0.5rem;
    }
    }
.icon-buttons{
    display: none;
}
.search-box{
    position: relative;
  border-radius: 50%;
  display: block;
  }
  .input-search{
    height: 2rem;
    width: 0.1rem;
    border-style: none;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    outline: none;
    border-radius: 2.4rem;
    transition: all .5s ease-in-out;
    background-color: #2B2B2B;
    padding-right: 3rem;
    color:#fff;
  }

  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-family: 'Segoe UI';
    font-size: 1.2rem;
    font-weight: 100;
    border-style: none;
    background-color: transparent;
  }
  .btn-search{
    width: 2rem;
    height: 2rem;
    border-style: none;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 1.4rem;
    bottom: 1.3rem;color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 20rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #e9b465cf;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 20rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgb(255, 255, 255);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }  
  .counter {
    width: auto;
    display: inline-flex;
    justify-content: center;
align-items: flex-start;}
.counter input {
    width: 3rem;
    border: 0;
    border-radius: 0.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #ffffff;
    user-select: none;
}
.title-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items:baseline;
    
}
.item p{
    color: white;
    font-size: 1.3rem;
    
text-align: center;width: 80%;padding-bottom: 1rem;}
.item{
    background-color: #525252;
    min-width: 15%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
align-items: center;}
.item-image{
    width: 80%;
    margin-top: 2rem;
margin-bottom: 1rem;}
.item-image img{
    width: 100%;
    box-shadow:0px 0px 19px 6px rgb(0 0 0 / 35%);
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bot-item-icons{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.select-quantity{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    gap: 0.5rem;
    margin-bottom: 1.3rem;
justify-content: center;align-items: center;}
.select-quantity p{
    width: auto;
padding-bottom: 0;}
.force-overflow2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}
.scrollbar{
    height: auto;
    background-color: #ffffff52;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 2rem;
    
}
#style-1::-webkit-scrollbar-track{
	/* box-shadow: inset 0 0 6px #b38b4e0c; */
	border-radius: 1rem;
	background-color: #ffffff0a;
}

#style-1::-webkit-scrollbar{
	width: 0.8rem;
	height: 0.8rem;background-color: transparent;
    border-radius: 0.8rem;
}

#style-1::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 10px #ffffff52;
	background-color: #4d5761b4;
}
.cart-container{
    margin-left: 9%;
    margin-right: 9%;
}
.left-bot .box-title{
    font-size: 2.5rem;
    color: white;
}
.left-bot p{
    color: white;
    font-size: 1.2rem;
}
.left-bot{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #ffffff52;
    text-align: left;
    gap: 1rem;
    padding: 1rem 2rem 2rem 2rem;
    margin-left: 9%;
}
.right-box button{
    overflow: hidden;
    width: auto;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: #494949;
    color: white;
    box-shadow: 0 2px 6px #00000080;
    font-family: 'Segoe UI';
    font-size: 1.1rem;padding: 0.5rem 0.5rem 0.5rem 0.5rem;
letter-spacing: -0.05rem;max-width: 6.5rem;}

.right-box .go-next button{
    color: black;
    background-color: white;
}
.summary-container p{
    font-size: 2.3rem;
    color: white;
}
.total-items{
    display: flex;
    flex-direction: row;
    gap: 1rem;
flex-wrap: nowrap;}
.merged-price{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    font-weight: bold;
}
.price-summary{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
align-items: center;}
.summary-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    /* background-color:wheat; */
align-items: center;margin-right: 2rem;margin-left: 2rem;}
.right-box{
    display: flex;
    flex-direction: row;
    margin-right: 9%;

align-items: flex-end;}
.bot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
margin-top: 2rem;flex-wrap: wrap;}